body{
	background: url('./img/main.jpg') no-repeat;
	background-position:center;
	background-size: cover;
}
h1{
	text-align:center;
}
.container{
	display:flex;
	justify-content:center;
	
}
.para{
    width:100px;
    transition: 0.2s;
    border-radius: 2px;
    margin: 0 5px;
    box-shadow: 3px 3px 5px #fff;	
}
.para:hover{
	box-shadow: 3px 3px 5px red;
	cursor:pointer;
}
.showcase{
	width: 100%;
	margin: auto;
}
.showcase > div{
	margin:auto;
	margin-top:1px;
	padding:10px;
	border-radius:5px;
	width:80%;
	text-align:center;
}
.showcase > div > img{
	width: 100%;
	box-shadow: 5px 5px 10px #000;
	border-radius:5px;
}
.hide{
	transition:all 0.4s linear;
	animation:hide 1s 0.1s;
	opacity: 0;
}
.show{
	transition:all 0.5s linear;
	animation:show 0.5s;
	opacity: 1;
}
.playBtn{
	cursor:pointer;
	border:none;
	padding:3px 10px;
	background-image: radial-gradient(#fff, #000);
	color: #000;
	font-size:40px;
	font-weight:bold;
	border-radius:5px;
	text-decoration: none;
	box-shadow:2px 2px 2px #000;
	position:absolute;
	left:50%;
	top:70%;
	transition:.3s;
}
.playBtn:hover{
	transform:scale(1.2);
}
@-webkit-keyframes hide{
	0%{
		
	}
	100%{
		transform:rotate(15deg) translate(-100vh,0);
	}
}
@-webkit-keyframes show{
	0%{
		transform:rotate(-15deg) translate(100vh,0);
	}
	100%{
		
	}
}
.d-none{
	display:none;
}
